@model Soccer.Web.Models.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>

<h4>Group to tournament: @Model.Tournament.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGroup" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TournamentId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.TournamentId" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
